:root {
  --block-light-theme-color: #fff;
  --bg-light-theme-color: #D5D5D5;
  --light-theme-font-color: #121212;
  --bg-dark-theme-color: #121212;
  --block-dark-theme-color: #1F1F1F;
  --dark-theme-font-color: #D5D5D5;
}
